/*
LIST
*/

.product-list {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    width: 70vw;
    height: 89vh;
    padding: 1vh 0.5vw 0 0.5vw;
}

/*
CARD
*/

.category {
    display: flex;
    align-items: center;
    justify-items: center;
    position: absolute;
    bottom: -15px;
    right: 10px;
    font-size: 0.9em;
    color: var(--muted);
    letter-spacing: 0.05em;
    height: calc(var(--button-height) / 2);
    border-radius: calc(var(--border-radius-buttons) / 2);
    background-color: var(--background-gradient2);
    padding: 0 var(--border-radius-buttons) 0;
}

.image {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 45%;
    background-color: var(--primary-color);
    border-radius: var(--border-radius-elements) var(--border-radius-elements) 0 0;
    filter: opacity(50%);
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 500px;
    background-color: var(--tiles-background);
    border-radius: var(--border-radius-elements);
    margin: 10px auto 10px;
}

.product-card:hover {
    animation: size-up 0.1s;
    transform: scale(1.1);
    box-shadow: 5px 10px 18px var(--tiles-shadow);
}

.product-details {
    height: 55%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px;
}

.refresh {
    position: absolute;
    top: -40px;
    right: 0;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 2px solid var(--secondary-color);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.refresh > span > svg {
    color: var(--primary-color);
}

.refresh:hover {
    background-color: var(--secondary-color);
    animation: size-up 0.1s;
    transform: scale(1.1);
}

.refresh:hover svg.fa-sync-alt {
    color: var(--tiles-background);
}

/*
PRICE TAG
*/

.price-tag {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 0.8em;
    height: calc(var(--button-height) - 10px);
    background-color: var(--background-gradient2);
    margin-bottom: calc(var(--button-height) / 2);
    border-radius: calc(calc(var(--button-height) - 10px) / 2);
}

.price-tag-store {
    display: flex;
    align-items: center;
    height: 100%;
    width: calc(var(--button-width) / 2);
    padding: 0 calc(calc(var(--button-height) - 10px) / 2) 0;
    border-radius: calc(calc(var(--button-height) - 10px) / 2);
    background-color: var(--secondary-color);
}

.price-tag-price {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-tag-timestamp {
    font-size: 0.8em;
    color: var(--muted);
    position: absolute;
    top: calc(var(--button-height) - 10px);
    right: 10px;
}

.available {
    width: calc(var(--button-height) - 10px);
    height: calc(var(--button-height) - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.available > svg.fa-check-circle {
    color: limegreen;
}

.available > svg.fa-times-circle {
    color: red;
}